body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-color {
    background-color: #FED8B1;
}

.logo {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.bggris {
    padding: 20px;
    background-color: #e1e1e1;

}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer .contact-info,
footer .footer-links {
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    display: inline;
    margin: 0 10px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #fff;
}

